<!DOCTYPE html>
<html lang="en" id="home">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>design</title>

    <link rel="stylesheet" type="text/css" href="./lib/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="./lib/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="./lib/css/secondpage.css"/>
    <style>
        .article-content {
            font-size: 15px;
            line-height: 25px;
            word-wrap: break-word;
        }
        .article-content p {
            margin-bottom: 20px;
            word-wrap: break-word;
        }
    </style>

</head>
<body data-spy="scroll" data-target="#navbar-example">
<div class="page-wrapper">
    <header>
        <div class="header-div">
            <div class="top-bar-lf">你好欢迎来到...官方网站</div>
            <div class="top-bar-rt">
                <ul class="top-nav">
                    <li><a href="javascript:void(0)"><i class="home"></i><span>设为首页</span></a></li>
                    <li><a href="javascript:void(0)"><i class="star"></i><span>加入收藏</span></a></li>
                    <li><a href="javascript:void(0)"><i class="question"></i><span>帮助中心</span></a></li>
                </ul>
            </div>
        </div>
        <div class="header-div">
            <div class="bottom-bar-lf">
                <a href=""><img src="./lib/images/logo.png" alt="" class="brand"/></a>
            </div>
            <div class="bottom-bar-rt" id="navbar-example">
                <ol class="" role="tablist">
                    <li><a href="#home">网站首页</a></li>
                    <li><a href="#videos">短视频</a></li>
                    <li class="active"><a href="#photography">摄影</a></li>
                    <li><a href="#design">视觉</a></li>
                    <li><a href="">许三喵</a></li>
                    <li><a href="">FTW技术</a></li>
                    <li class=""></li>
                </ol>
            </div>
        </div>
    </header>
    <div ng-app="myApp" ng-controller="ctl1" class="content">

        <div class="container">
            <div class="row">
                <div id="left_nav" class="col-lg-3 col-md-4 col-sm-6" style="padding-left: 10rem;height: 100%;cursor: pointer;">
                    <div class="left_container">
                        <div style="width: 100%" ng-repeat="nav in left_nav">

                            <div ng-mouseleave="leaveevent()" ng-mouseover="hoverevent(nav.id)" ng-click="jumpto(nav.href,nav.id)" ng-class={true:'back_active',false:'back_unact'}[nav.selected] id="{{nav.id}}" >
                                <a href="#{{nav.href}}"><p ng-class={true:'word_active',false:'word_unact'}[nav.selected]>{{nav.title}}</p></a>
                                <!--<a><p>{{nav.title}}</p></a>-->
                                <ul style="display: block">
                                    <a href="{{nav.href}}">
                                        <li ng-class={true:'word_active',false:'word_unact'}[nav.selected] ng-repeat="x in nav.items">{{x}}</li>
                                    </a>
                                </ul>
                            </div>

                            <ul ng-show="nav.selected" class="back_unact" style="display: block">
                                <!--ng-class={true:'word_active',false:'word_unact'}[nav.selected]-->
                                <li ng-click="loadcontext(su.url)" ng-repeat="su in nav.success">
                                    <a style="font-family: 微软雅黑;font-size: 15px;color: black;" href="#{{su.url.href}}">{{su.name}}</a>
                                </li>
                            </ul>

                        </div>
                    </div>



            </div>
                <div class="col-lg-9 col-md-8 col-sm-6">

                    <!--<div ng-view></div>-->
                    <div style="width: 100%;float: left;">
                        <div style="min-height: 500px;margin-bottom:30px;padding: 0 20px;background-color: #fff;border: 1px solid #eaeaea;border-radius: 4px;">
                            <h1  id="title" class="article-title">

                            </h1>
                            <article class="article-content" id="article"></article>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-content">
            <article>
                <p>关注我们 :</p>
                <ul>
                    <li><a href=""><img src="./lib/images/weibo.png" alt=""></a></li>
                    <li><a href=""><img src="./lib/images/weixin.png" alt=""></a></li>
                    <li><a href=""><img src="./lib/images/tcweibo.png" alt=""></a></li>
                </ul>
                <p>Copyright &copy; 2015-2016 xxxxxxxx有限公司</p>
            </article>
            <article>
                <ul>
                    <li>
                        <img src="./lib/images/tel.png" alt="">
                        <span class="tel">400-123-4567</span>
                    </li>
                    <li>
                        地址: xxxxxxxxxxxxxx
                    </li>
                    <li>企业邮箱: xxxxxxx.com</li>
                </ul>
                <div></div>
            </article>
        </div>
    </footer>
    <div class="body-cover">
        <span class="close">&times;</span>
        <video src="" class="video-play" preload="load" controls="controls" autoplay="autoplay">
            对不起，你的设备不支持此类型的视频播放
        </video>
    </div>
    <div class="body-cover-img">
        <span class="close">&times;</span>
        <img src="./lib/images/intro_3_7.png" alt="" class="image-previous">
    </div>
</div>
<script src="./lib/js/jquery.min.js"></script>
<script src="./lib/js/bootstrap.min.js"></script>
<script src="./lib/js/angular.min.js"></script>
<script src="./lib/js/angular-route.js"></script>
<script src="./lib/js/common/thirdpage.js"></script>

</body>
</html>